.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 256px 1fr;  /* 1 fr no grid quer dizer que algo vai ter um tamanho flexivel*/
  gap: 2rem;
  align-items: flex-start;
}

@media (max-width: 768px) {

  html{
    font-size: 87.5%; /* 16px > 100%
                         14px>  x  */
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
}